/*
 * Hide all the clutter in the navbar
 */
#main-window :-moz-any(#back-button,
                       #forward-button,
                       #stop-reload-button,
                       #home-button,
                       #library-button,
                       #sidebar-button,
                       #start-button,
                       #pocket-button,
                       #permissions-granted-icon,
                       #fxa-toolbar-menu-button,
                       #page-action-buttons,
                       #_d7742d87-e61d-4b78-b8a1-b469842139fa_-browser-action /* Vimium */) {
 /*display: none !important;*/
}


/*
 * Hide tabs if only one tab
 */
/*
tab:only-of-type, tab:only-of-type + #tabs-newtab-button {
  display: none !important;
}

#tabbrowser-tabs, #tabbrowser-arrowscrollbox {
  min-height: 0 !important;
}

hbox.private-browsing-indicator {
  display: none !important;
}
*/
